#edit-project-container{
    text-align: center;
    width: 100%;
    margin: auto
}
mat-form-field{
    width: 100%
}
h1{
    text-align: center
}
#btn-container{
    margin: auto;
    text-align: center
}
button{
    margin: auto
}
mat-list{
    border: 1px solid #BDBDBD;
    border-radius: 5px
}