#auth-dialog{
    width: 100%;
    text-align: center;
    padding-bottom: 1%
}
.example-full-width {
    width: 100%;
}
#login-btn{
    border: 1px solid #01579B;
}
#logout-container{
    margin-top: 1%
}