<div id="auth-dialog" class="card container">
  <h1>Autenticación</h1>
  <small>Solamente los usuarios autorizados por <strong>Justin Castillo</strong> pueden ingresar</small>
  <form [formGroup]="myForm" *ngIf="!authentication.getUser()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Clave usuario" 
      [formControl]="myForm.controls['userNameFormControl']"  #username>
      <mat-error *ngIf="myForm.controls['userNameFormControl'].hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Contraseña" 
      [formControl]="myForm.controls['passwordFormControl']" #password>
      <mat-error *ngIf="myForm.controls['passwordFormControl'].hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <div>
      <button type="submit" id="login-btn" mat-button color="primary" [routerLink]="['/admin']" 
      (click)="login(username.value, password.value)">
        Ingresar
      </button>
    </div>
  </form>
  <!-- <div id="logout-container">
    <button *ngIf="authentication.getUser()" (click)="logout()" class="btn danger-color btn-sm" id="logoutBtn">
      Salir
    </button>
  </div> -->
</div>