<ul id="projects">
    <li class="card project" *ngFor="let p of projects">
        <h3 class="card-title"><strong>{{p.nombre}}</strong></h3>
        <div class="card-body">
            <h5>{{p.descripcion}}</h5>
            <ul id="details" class="list-group">
                <li class="list-group-item detail">
                    Fecha Inicio: 
                    <span class="badge blue darken-4 badge-pill">{{p.fecha_inicio | date:'fullDate':'':'Es'}}</span>
                    <br>
                    Estado:
                    <span class="card-text"><strong>{{p.estado}}</strong></span>
                </li>
            </ul>
            <p class="card-text" style="margin: 1% 0 0.5% 0"><strong>Integrantes</strong></p>
            <ul id="members" class="list-group">
                <li class="member list-group-item" *ngFor="let m of p.extractMembers">
                    <strong> {{m.nombre}} {{m.apellidos}} </strong>
                </li>
            </ul>
        </div>
    </li>
</ul>