a{
    color: white
}
a:hover{
    color: #ff4a59
}
a:default{
    color: white
}
.main-content {
    background: linear-gradient(to bottom, #2e2e2e, #4e4e4e);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center
}