a{
    color: white
}
a:hover{
    color: #ff4a59
}
a:default{
    color: white
}
.main-content {
    background: #2e2e2e;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center
}