<mdb-navbar SideClass="navbar navbar-expand-lg elegant-color">
  <links>

    <ul style="color: white" class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item">
            <a class="nav-link waves-light" routerLink="home">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" routerLink="projects">Proyectos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" routerLink="members">Miembros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light">Contacto</a>
        </li>
        <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
            Más opciones<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbRippleRadius href="#">Desarrollador</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item waves-light" mdbRippleRadius (click)="openDialog()">Administrar Miembros</a>
            </div>
        </li>
        <li mat-raised-button *ngIf="authentication.getUser()" (click)="logout()" class="btn danger-color btn-sm" id="logoutBtn">
            Salir
        </li>

    </ul>
    <ul id="social-container" class="navbar-nav ml-auto white-text nav-flex-icons">
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light"><i class="fa fa-envelope"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light"><i class="fa fa-facebook"></i></a>
        </li>
    </ul>
  </links>

</mdb-navbar>
<div>
  <router-outlet></router-outlet>
</div>