<div id="home-container" class="container transparent">
  <!--Card Dark-->
  <div id="home-card" class="card card-dark">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <!-- <h1 id="main-title" class="center-text card">
              Comunidad de Aplicaciones Móviles TEC SSC
            </h1> -->
      </div>
      <!--/.Card image-->
      <!--Card content-->
      <div id="card-body" class="card-body elegant-color">
          <!--Title-->
          <h4 class="card-title white-text">Comunidad de Aplicaciones Móviles TEC SSC</h4>
          <hr>
          <!--Text-->
          <p class="card-text white-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button id="go-to-projects" class="btn btn-outline-white btn-sm">Proyectos</button>
      </div>
      <!--/.Card content-->
  </div>
</div>

<!--Footer-->
<footer class="page-footer transparent center-on-small-only">
  
  <div class="footer-copyright">
      <div class="container-fluid">
          <span style="color: white; font-size: 17px">Comunidad de Aplicaciones Móviles</span>
          |
          © 2018 Copyright: <a href="https://github.com/JustinCast"> Github </a>
      </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->