#home-container{
    margin: auto;
    text-align: center;
}
#main-title{
    margin-top: 20%;
    background:rgba(100,100,180,0.7);
    width: 100%;
    padding: 0;
    color: white;
    font-weight: bold;
}
footer{
    bottom: 0px;
    height: 70px;
    position: absolute;
    width: 100%;
}
#go-to-projects:hover{
    background-color: #ff3547;
}
#home-card{
    width: 50%;
    background:rgba(255,255,255,0.8);
    margin: auto;
    margin-top: 3%;
}
#logo-comunidad{
    height: 250px;
    width: 200px;
    margin: auto
}
#logo-tec{
    height: 200px;
    width: 340px;
    margin: auto
}
#img-container{
    display: inline-block;
}
img{
    display: inline-block
}
#home-card:hover {
    background-color: white;
    color: black;
}
#card-body{
    background-color: #1e0210
}
.color-text{
    color: white;
}
#important-info{
    font-size: 10px;
    text-align: center;
    margin: auto;
    color: white
}