<div id="home-container" class="container transparent">
  <!--Card Dark-->
  <div id="home-card" class="card hoverable">
      <!--Card image-->
      <div id="img-container" class="view waves-light" mdbRippleRadius>
          <img id="logo-comunidad" src="../../assets/logocomunidad.png" alt="Comunidad de Móviles">
          <img id="logo-tec" src="../../assets/logo-tec.png" alt="Comunidad de Móviles">
      </div>
      <!--/.Card image-->
      <!--Card content-->
      <div id="card-body" class="card-body">
          <!--Title-->
          <h4 class="card-title color-text">Comunidad de Aplicaciones Móviles TEC SSC</h4>
          <hr style="background-color: #546E7A">
          <!--Text-->
          <p class="card-text color-text">
              Grupo que desarrolla proyectos para toda la Comunidad del Instituto Tecnológico de Costa Rica. De igual manera se desarrollan
              proyectos externos.
          </p>
          <button id="go-to-projects" class="btn btn-outline-white btn-sm">Proyectos</button>
          <button id="meet-us" class="btn btn-danger btn-sm">Conócenos</button>
      </div>
      <!--/.Card content-->
  </div>
  <hr>
  <small id="important-info">
      Este sitio posee imágenes tomadas de <a href="https://pixabay.com">Pixabay</a> el cual es un sitio de imágenes gratis
  </small>
</div>
<!--Footer-->
<footer class="page-footer transparent center-on-small-only">
  
  <div class="footer-copyright">
      <div class="container-fluid">
          <span style="color: white; font-size: 17px">Comunidad de Aplicaciones Móviles</span>
          |
          © 2018 Copyright: <a href="https://github.com/JustinCast"> Github </a>
      </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->