<div id="home-container" class="container transparent">
  <!--Card Dark-->
  <div id="home-card" class="card hoverable">
      <!--Card image-->
      <div id="img-container" class="view waves-light" mdbRippleRadius>
          <img id="logo-comunidad" src="../../assets/logocomunidad.png" alt="Comunidad de Móviles">
          <img id="logo-tec" src="../../assets/logo-tec.png" alt="Comunidad de Móviles">
      </div>
      <!--/.Card image-->
      <!--Card content-->
    <div id="card-body" class="card-body">
        <!--Title-->
        <h5 class="card-title color-text">Comunidad de Aplicaciones Móviles TEC SSC</h5>
        <hr style="background-color: white; border-top: dotted 1px">
        <!--Text-->
        <p class="card-text color-text">
            Grupo de estudiantes desarrolladores del Instituto Tecnológico de Costa Rica en su sede de San Carlos.
        </p>
        <mat-accordion color="accent">
            <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Más Info
                    </mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? 'Cerrar' : 'Abrir'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <small>
                    El objetivo de este grupo es crear aplicaciones que sean de utilidad para toda la población de la Universidad.
                    Así mismo esta iniciativa representa una importante ayuda para los estudiantes desarrolladores, dado que se obtienen beneficios
                    por realizar esta labor. <br>
                    Este grupo también realiza proyectos externos al Tecnológico, lo que a su vez provee experiencia que va ser de gran importancia
                    a la hora de insertarse al mercado laboral.
                </small>
            </mat-expansion-panel>
        </mat-accordion>
        <div id="btn-container" class="container">
            <button id="go-to-projects" class="btn btn-outline-white btn-sm">Proyectos</button>
            <button id="meet-us" class="btn btn-danger btn-sm">Conócenos</button>
        </div>
    </div>
    <!--/.Card content-->
  </div>
  <!-- <hr> -->
  <!-- <small id="important-info">
      Este sitio posee imágenes tomadas de <a href="https://pixabay.com">Pixabay</a> el cual es un sitio de imágenes gratis
      <br>
      <i>Por lo tanto no se ha infringido ningua ley de derechos de autor atte <span style="color: #ff3547">Justin Castillo</span></i>
  </small> -->
</div>


<div class="footer">
    © 2018 Copyright: Justin Alberto Castillo Valladares <strong>|</strong> Comunidad de Aplicaciones Móviles
    <!-- <ul id="developer-info">
        <li><i class="fa fa-github"></i></li>
    </ul> -->
</div>