#home-container{
    margin: auto;
    text-align: center;
}
#main-title{
    margin-top: 20%;
    background:rgba(100,100,180,0.7);
    width: 100%;
    padding: 0;
    color: white;
    font-weight: bold;
}
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(53,54,49, 0.7);
    text-align: center;
    color: white;
    margin-bottom: 0;
    font-size: 12px
  }
#go-to-projects:hover{
    background-color: #ff3547;
}
#home-card{
    width: 80%;
    //background:rgba(255,255,255,0.8);
    margin: auto;
    margin-top: 11%;
}
#logo-comunidad{
    height: 70px;
    width: 50px;
    margin: 0 1% 0 0
}
#logo-tec{
    height: 100px;
    width: 200px;
    margin: 0 0 0 1%
}
#img-container{
    display: inline-block;
}
img{
    display: inline-block
}
#home-card:hover {
    background-color: white;
    color: black;
}
#card-body{
    background-color: rgba(53,54,49, 0.9)
}
.color-text{
    color: white;
}
#important-info{
    font-size: 10px;
    text-align: center;
    margin: auto;
    color: #353631;
}
#developer-info{
    list-style-type: none;
    padding: 0;
    font-size: 25px;
    margin-bottom: 0
}
#btn-container{
    margin-top: 2%;
}