<div id="error-handle-card" class="card">
  <br>
  <h2>
    <strong>Error 404!</strong><br>
    La página que buscas no existe
  </h2>
  <i class="material-icons" style="font-size: 40px; margin-bottom: 1%">sentiment_very_dissatisfied</i>
  <small>
    <i>Puede que hayas seguido un enlace que ya no existe o hayas introducido mal la dirección</i>
  </small>
  <hr>
  <div id="btn-container" class="container">
    <button class="btn btn-outline-white btn-sm" [routerLink]="['/home']">Inicio</button>
    <a href="https://www.google.co.cr" class="btn btn-sm">Salir de aquí <i class="fa fa-rocket" style="font-size: 18px" aria-hidden="true"></i></a>
  </div>
</div>